@import '../event-detail-table/event-detail-table.component.scss';

td {
	width: 90%;
}
th {
	width: 10%;
	padding-left: 10px;
}
.gMap {
	height: 500px;
	width:100%;
}

@media (max-width: 576px) {
	.name {
		font-size: 16px;
	}
	table {
		width:95vw;
	}
	td {
		width: 65vw;
	}
	th {
		width: 25vw;
		padding-left: 10px;
	}
}