@import '../result/result.component.scss';
.buttons {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	margin-right: 70%;
	width: 100%;
}
.twitter {
	height: 36px;
}
.otherButtons {
	display: flex;
}
ngb-tabset {
	height: 100%;
}
.detailTab {
	height: 100%;
}

@media (max-width: 576px) {
	.name {
		font-size: 16px;
	}
	.table-wrapper{
		display: block;
		width:95vw;
		overflow: auto;
	}
	.venue-wrapper{
		width:95vw;
	}
}
.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 200px;
}

.bar {
	margin: 0 auto;
	margin-top:100px;
	width: 80%;
}