$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
.px-7 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}
 @media (max-width: map-get($grid-breakpoints, sm)) {
    .px-7 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
  }
.w-60 {
	width: 80%;
}
.material-icons {
	vertical-align:bottom;
}
.requiredField:after {
	content: " *";
	color:red;
}
.full-width {
	width: 100%;
}

.btn-field {
	display: flex;
	align-items: center;
	justify-content: center;
}
.result-field {
	height: 100%;
	width: 100%;
}
.hiddenInput {
	display: none;
}