@import '../event-detail-table/event-detail-table.component.scss';
.roundbarWrapper {
	position: relative;
}
.roundbarWrapper .roundbarText {
	position: absolute;
    top: 50%;
	margin-left: 14px;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}