<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <h1> Entertainment Event Ticket Search </h1>
    <div>
    <form [formGroup] = "myForm" >
      <div calss = "from-group row">
        <label for = "Keyword" class="col-sm-2 col-form-label requiredField" >Keyword</label>
        <div class="col-sm-10">
          <input type="keyword" formControlName="keyword" id="Keyword" placeholder = "Enter Artist, Team or Event Name (e.g. Lakers)">
        </div>
      </div>

      <div calss = "from-group row">
        <label for = "Category" class="col-sm-2 col-form-label" >Category</label>
        <div class="col-sm-10">
          <select type="Category" class="form-control" id="Category">
            <option id = "default" value = "Default" selected="true">All</option>
            <option id = "music" value = "Music">Music</option>
            <option id = "sport" value = "Sports">Sports</option>
            <option id = "arts" value = "Arts">Arts</option>
            <option id = "theater" value  = "Theater">Theater</option>
            <option id = "film" value = "Film">Film</option>
            <option id = "miscellaneous" value = "Miscellaneous">Miscellaneous</option>
          </select>
        </div>
      </div>

      <div calss = "from-group row">
        <label for = "Distance" class="col-sm-2 col-form-label" >Distance</label>
        <div class="col-sm-5">
          <input type="Distance" class="form-control" id="Distance" placeholder="10">
        </div>
        <div class="col-sm-5">
          <div calss = "from-group">
            <select type="length" class="form-control" id="length">
              <option id = "Mile" value = "10" selected="true">Miles</option>
              <option id = "Km" value = "10">Kilometer</option>
            </select>
          </div>
        </div>
      </div>

      <div class="from-group form-check row">
        <label for = "from" class="col-sm-2 col-form-label" >From</label>
        <div class="col-sm-10">
          <input class="form-check-input" type="radio" name="fromwhere" id="CurrentLocation" value="CurrentLocation" checked>
          <label class="form-check-label" for="CurrentLocation">Current location</label><br>
          <input class="form-check-input" type="radio" name="fromwhere" id="OtherLocation" value="OtherLocation">
          <label class="form-check-label" for="OtherLocation">Other, Please specify:</label>
          <div calss = "from-group">
            <input type="Location" class="form-control" id="Location">
          </div>
        </div>
      </div>

      <button id = "search" type = "button" name = "submit" value = "Search" class="btn btn-primary"> Search </button>
      <button id = "reset" type = "buttton" class="btn btn-primary">Clear</button>
    </form>
  </div>
  </body>
</html>