.disabled {
	background-color: lightgray;
}
.card {
  width:100%;
  margin-top:20px;
}
.table {
  margin-top:-20px;
}
.orange {
	color:orange;
}
.gray {
	color:lightgray;
}
.text {
	text-align: left;
	padding-bottom: 20px;
}
.mid-text {
	margin-bottom: 0.2rem;
}
#order {
	margin-left: -50px;
}
