#order {
	background-color: lightgray;
}
.card,.table {
  width:100%;
  margin-top:20px;
}
.orange {
	color:orange;
}
.gray {
	color:lightgray;
}
.text {
	text-align: left;
	padding-bottom: 20px;
}
.mid-text {
	margin-bottom: 0.2rem;
}