<div class='form-group row mt-5 mb-s1'>
	<div class="col-sm-3">
		<select class="custom-select" [(ngModel)]="currRanking" name="ranking" id="ranking" (change)="sortData()">
			<option *ngFor="let ranking of rankings" [value]="ranking"> {{ranking}}</option>
		</select>
	</div>
	<div class="margin-select col-sm-3">
		<select class="custom-select" [(ngModel)]="currOrder"[disabled]="currRanking=='Default'" name="order" id="order" [ngClass]="{'disabled':currRanking=='Default'}" (change)="sortData()">
			<option *ngFor="let order of orders" [value]="order"> {{order}}</option>
		</select>
	</div>
</div>
<table class="table">
	<tr [@.disabled]="isAniDisabled" *ngFor="let event of service.sortedData; let i = index">
		<mat-card *ngIf='shouldShow(i,isShowedMore)' [@fadeinout] [ngClass]="{'card':shouldShow(i,isShowedMore)}" >
			<mat-card-content class="text">
				<a [href]="event.url"><p class="mid-text">{{event.name}}</p></a>
				<p class="mid-text"><span *ngIf='event.artist!==""' class="orange">Artist: {{event.artist}} </span> <span class="gray">{{event.date | date:"mediumDate"}} {{event.time}}</span></p>
				<p>Type: {{event.type}}</p>
			</mat-card-content>
		</mat-card>
	</tr>
</table>
<button type="button" (click)="showSwitch()" class="btn btn-primary">{{showMoreOrLess}}</button>