:host {             
	display: block;
    left: 0;
    width: 100%;    // takes parent width        
	height: 100%;   // takes parent height   
}
table {
	margin-top:10px;
	height: 100%;
	width: 80%;
}
.mat-row:hover {
  background-color: gray;
}
.material-icons.yellow{
	color:gold;
}
.border {
	padding:5px 10px;
	border: 2px solid lightgray;
    border-radius: 5px;
}
.favorite{
	width: 50px;
}
.highlighted {
	background-color: orange;
}
.resultPane {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.button {
	margin-left:70%;
	height: 50px;
	padding-bottom: 30px;
	
}
.button.disabled {
	color: lightgray;
}
.material-icons {
	vertical-align:bottom;
}