:host {             // host targets selector: 'home'
	display: flex;
    left: 0;
    width: 80%;    // takes parent width        
	height: 100%;   // takes parent height   
	
}
table {
	margin-top:10px;
	width: 100%;
}